html {
  scroll-behavior: smooth;
}
main {
  background-image: url("../images/gamebg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
button {
  cursor: pointer;
  display: block;
  background-color: transparent;
  border: none;
}
input {
  outline: none;
  border: none;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  padding: 36px 0;
  z-index: 2;

  &::before {
    content: "";
    display: block;
    width: 536px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 277px;
  }
}
